{
  "Server"  : "0.0.0.0:8080",
  "DBHost"  : "127.0.0.1",
  "Database": "dbname",
  "DBUser"  : "dbuser",
  "DBPass"	: "dbpass",
  "DBSSL"   : "require",
  "LogLevel": 1,
  "LogFile" : "/tmp/logs.txt"
}
