{
  "Server"       : "0.0.0.0:8080",
  "DBHost"       : "127.0.0.1",
  "Database"     : "dbname-test",
  "DBUser"       : "dbuser",
  "DBPass"	     : "dbpass",
  "DBSSL"        : "disable",
  "ResourcesDir" : "/home/user/apps/fundacja_test/resources",
  "PublicDir"    : "/home/user/public/fundacja_test",
  "LogFile"      : "/home/user/tmp/fundacja_test.log",
  "LogLevel"     : 1,
  "Autoreload"   : false
}
