{
  "Server"       : "0.0.0.0:8080",
  "DBHost"       : "127.0.0.1",
  "Database"     : "dbname-dev",
  "DBUser"       : "dbuser",
  "DBPass"       : "dbpass",
  "DBSSL"        : "disable",
  "ResourcesDir" : "/home/user/apps/fundacja_dev/resources",
  "PublicDir"    : "/home/user/public/fundacja_dev,
  "LogFile"      : "/home/user/tmp/fundacja_dev.log",
  "LogLevel"     : 1,
  "Autoreload"   : true
}
