${define "head"}
${$organization := .Model}
<title>Edit ${$organization.Name.String}</title>
${end}

${define "body"}
${$organization := .Model}
<div class="container">
  <div class="mt-3">
    <h1>Edit <span id="heading-sufix">${$organization.Name.String}<span></h1>
  </div>

  <div>
    <p>
			<a href="/organizations" >Organizations</a>
		</p>
    <form id="update-form" class="form-vertical" role="form" action="/organizations/${$organization.ID.String}" method="post" >
      <fieldset>
        <div class="form-group">
          <span>
            <label for="user-id">User ID</label><br>
            <small id="user-id-error" class="text-danger container-error"></small>
          </span>
          <label id="user-id" class="text" name="user-id">
            <a href="/users/${$organization.UserID.String}">${$organization.UserID.String}</a>
          </label>
          <input id="user-id" type="hidden" name="user-id" value="${$organization.UserID.String}">
        </div>

        <div class="form-group">
          <span>
            <label for="name">Name</label>
            <small id="name-error" class="text-danger container-error"></small>
          </span>
          <input id="name" type="text" class="form-control fnd-form-control" name="name" value="${$organization.Name.String}" placeholder="">
        </div>

        <div class="form-group">
          <span>
            <label for="description">Description</label>
            <small id="descriptionError" class="text-danger container-error"></small>
          </span>
          <textarea id="description" class="form-control fnd-form-control" rows="3" name="description" value="${$organization.Description.String}">${$organization.Description.String}</textarea>
        </div>

        <div class="form-group">
          <label class="fnd-checkbox">
              <input id="is-active" type="checkbox" id="is-active" name="is-active" class="form-control" value="true" ${if $organization.IsActive.Bool}checked${end}>
              <span>Active</span>
          </label>
        </div>
      </fieldset>
      <p><input type="submit" class="btn btn-xs btn-outline-primary" id="submit" value="Update"></p>
    </form>

    <!-- If javascript is enabled show a modal confirmation overlay -->
    <!-- If javascript is disabled redirect to a confirmation page -->
    <div>
      <form id="delete-form" action="/organizations/init-delete/${$organization.ID.String}" method="post" class="form-wizard">
        <button type="submit" class="btn btn-xs btn-outline-danger">
          Delete
        </button>
      </form>
    </div>

    <!-- Delete confirm modal -->
    <div id="delete-confirm-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">Delete User</h3>
          </div>
          <div class="modal-body">
              <p>Confirm?</p>
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Cancel</button>
              <form action="/organizations/delete/${$organization.ID.String}" method="post" class="form-wizard">
                <button type="submit" class="btn btn-xs btn-danger";>
                  Delete
                </button>
              </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
${end}
