${define "head"}
${$user := .Model}
<title>Delete User - ${$user.Username.String}</title>
${end}

${define "body"}
${$user := .Model}
<div id="app" class="container">
  <div class="mt-3">
  	<h1>Delete User <i class="fa a-check"></i></h1>
  </div>
  <div>
    <p>Username:<br> ${$user.Username.String}</p>
    <p>Email:<br> ${$user.Email.String}</p>
    <p>Name:<br> ${$user.FirstName.String} ${$user.MiddleNames.String} ${$user.LastName.String}</p>
    <form action="/users/delete/${$user.ID.String}" method="post">
      <button type="submit" class="btn btn-xs btn-outline-danger">
        Confirm Delete
      </button>
    </form>
  </div>
</div>
${end}
